<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779160938876-13l6rbsvr6cd4b9p41spe2nqhtj97nnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779160938876-13l6rbsvr6cd4b9p41spe2nqhtj97nnp</string>
	<key>API_KEY</key>
	<string>AIzaSyBjVnBxdDRdnsUSdyu9XlgeE0z1rmCB0U4</string>
	<key>GCM_SENDER_ID</key>
	<string>779160938876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Pet</string>
	<key>PROJECT_ID</key>
	<string>mymap-275909</string>
	<key>STORAGE_BUCKET</key>
	<string>mymap-275909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779160938876:ios:e56a7411920ad2f1025cf9</string>
</dict>
</plist>